$olive: #7F8274
$grey: #CDCDCD
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&family=Oswald:wght@200;300;400;500;600;700&display=swap')

h1
    font-family: 'Montserrat', sans-serif
    font-weight: 700
    font-size: 4rem
    color: $olive

.flexbox
    display: flex
    flex-direction: row
body
    height: 100vh
    margin: 0
    display: flex

.nav
    height: 100vh
    width: 12rem
    border-right: solid 2px $olive
    margin-bottom: 2rem
    font-family: 'Oswald', sans-serif
    font-weight: 200
    .brand
        width: 100%
        text-align: center
        padding-top: 1rem
        font-size: 2rem
        margin-bottom: 3rem
        font-weight: 600
        color: $olive
    ul
        li
            margin-right: 0.5rem
            list-style-type: none
            margin-bottom: 1rem

            .fa-chevron-right
                float: right
                margin-top: 0.4rem
                color: $olive

    a:link
        color: white
        text-decoration: none
    a:hover
        color: white
    a:visited
        color: black

.main
    width: 100%
    padding: 2rem
    margin-bottom: 2rem
    margin-left: 5rem
    input
        width: 20rem
        height: 1.5rem
        margin-bottom: 1rem
        border: none
        border-bottom: solid 1px $olive
    ::placeholder
        font-family: 'Montserrat', sans-serif
        color: $olive
    button
        width: 20rem
        height: 2rem
        font-family: 'Oswald', sans-serif
        font-size: 1rem
        border: none
        background-color: $grey

#my-listings
    margin-top: 5rem
