$olive: #7F8274

body
    height: 100vh
    margin: 0

.nav
    height: 3rem
    background: $olive
    display: flex
    flex-direction: row
    margin-bottom: 2rem

    img
        height: 2rem
    ul
        display: flex
        flex-direction: row
        justify-content: right
        li
            margin-right: 1rem
            list-style-type: none

    a:link
        color: white
        text-decoration: none
    a:hover
        color: white
    a:visited
        color: black

.main
    padding: 2rem
    margin-bottom: 2rem

.signup-form
    margin-left: 5rem
    margin-bottom: 2rem
    // width: 200px
    // margin: 0 auto

.login-form
    margin-left: 5rem
    margin-bottom: 2rem
