body
    height: 100vh
    margin: 0

.nav
    height: 4rem
    background: black
    color: white
    display: flex
    flex-direction: row
    margin-bottom: 2rem

    img
        height: 2rem
    ul
        display: flex
        flex-direction: row
        justify-content: space-around
        li
            margin: 1rem

.main
    padding: 2rem
    margin-bottom: 2rem

.signup-form
    margin-left: 5rem
    margin-bottom: 2rem
    // width: 200px
    // margin: 0 auto

.login-form
    margin-left: 5rem
    margin-bottom: 2rem
